.termos {
    padding-top: 70px;
    padding-bottom: 70px;
}

.termos h2 {
    font-weight: 600;
    margin-bottom: 30px;
}

.termos p + h2 {
    margin-top: 20px;
}

.termos p {
    max-width: 75ch;
    margin-bottom: 20px;
}